.rounded {
  max-width: 300px;
  max-height: 400px;
}

#linked {
  background-image: url(./images/series.png);
  margin: 0 auto;
}

#linked2 {
  background-image: url(./images/atresplayer.png);
  margin: 0 auto;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.col {
  width: 400px;
  height: 400px;
  align-content: center;
}

.caption {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.bg-dark {
  background-color: whitesmoke !important;
}

.navbar-text {
  font-size: large;
}

button {
    border: none;
    background-color: #ffffff;
}